@{
    ViewData["Title"] = "Ana Səhifə";
}

<h2 class="mb-4">Qeydiyyat Sistemi Paneli</h2>

<div class="row text-center">
    <div class="col-md-4 mb-3">
        <div class="card border-primary">
            <div class="card-body">
                <h5 class="card-title">Şagirdlərin sayı</h5>
                <p class="card-text display-6">@ViewBag.StudentCount</p>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-3">
        <div class="card border-success">
            <div class="card-body">
                <h5 class="card-title">Dərslərin sayı</h5>
                <p class="card-text display-6">@ViewBag.CourseCount</p>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-3">
        <div class="card border-warning">
            <div class="card-body">
                <h5 class="card-title">İmtahanların sayı</h5>
                <p class="card-text display-6">@ViewBag.ExamCount</p>
            </div>
        </div>
    </div>
</div>
